#header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #364953;
  margin: 0;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}
#header h1{
  color: #ffffff;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 10px);
  box-sizing: border-box;
}
.row-model{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.model-box{
  background-color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: 357px;
  box-sizing: border-box;
  padding: 10px; 
}
.dropdown-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.dropdown-single {
  display: flex;
  justify-content: center;
}
#line-chart-box, 
#stacked-area-chart-box, 
#stacked-barchart-box, 
#treemap-box {
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
}
#treemap-box{
  display: flex;
  justify-content: space-between;
}
#stacked-barchart-box{
  display: flex;
  flex-direction: column;
  flex: 30%;
  width: 965px;
  max-width: 965px;
  height: 430px;
  max-height: 430px;
}
#barchart-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -47px;
}
#stacked-area-chart-box{
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  height: 430px;
  max-height: 430px;
}