#header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #364953;
  margin: 0;
  padding: 5px;
  width: 752;
}
#header h1{
  color: #ffffff;
}
.row-model{
  display: flex;
  flex-direction: row;
}
.model-box{
  background-color: #ffffff;
  margin-top: 10px;
  margin-left: 10px; 
  display: flex;
  flex-direction: row;
}
#line-chart-box{
  width: 752px;
  height: 357px;
}
#stacked-area-chart-box{
  display: flex;
  justify-content: space-between;
  width: 752px;
  height: 357px;
}
#dropdown-stacked-area{
  margin-top: 10px;
  margin-right: 10px;
}
#stacked-barchart-box{
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 357px;
  gap: 5px;
}
#dropdown-stacked-bar{
  margin-left: 5px;
  margin-top: 5px;
}
#barchart-row{
  display: flex;
  flex-direction: row;
  margin-top: -47px;
}
#treemap-box{
  width: 604px;
  height: 357px;
}